@import "../../Utils/Main.module.scss";

.Footer {
  background-color: $my-card-color;
  width: 80%;
  height: 10vh;
  color: white;
  bottom: 0px;
  position: fixed;
  left: 10%;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
